
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 199 38% 90%;
    --foreground: 200 97% 14%;

    --card: 0 0% 100%;
    --card-foreground: 200 97% 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 200 97% 14%;

    --primary: 192 70% 43%;
    --primary-foreground: 0 0% 100%;

    --secondary: 199 64% 73%;
    --secondary-foreground: 200 97% 14%;

    --muted: 199 64% 95%;
    --muted-foreground: 200 95% 34%;

    --accent: 43 100% 51%;
    --accent-foreground: 200 97% 14%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 199 38% 80%;
    --input: 199 38% 80%;
    --ring: 192 70% 43%;

    --radius: 0.5rem;

    --sidebar-background: 199 38% 95%;
    --sidebar-foreground: 200 97% 14%;
    --sidebar-primary: 192 70% 43%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 43 100% 51%;
    --sidebar-accent-foreground: 200 97% 14%;
    --sidebar-border: 199 38% 80%;
    --sidebar-ring: 192 70% 43%;
  }

  .dark {
    --background: 200 97% 14%;
    --foreground: 199 38% 90%;

    --card: 200 95% 18%;
    --card-foreground: 199 38% 90%;

    --popover: 200 95% 18%;
    --popover-foreground: 199 38% 90%;

    --primary: 192 70% 43%;
    --primary-foreground: 0 0% 100%;

    --secondary: 200 95% 24%;
    --secondary-foreground: 199 38% 90%;

    --muted: 200 95% 24%;
    --muted-foreground: 199 38% 70%;

    --accent: 32 100% 49%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 200 95% 24%;
    --input: 200 95% 24%;
    --ring: 192 70% 43%;

    --sidebar-background: 200 97% 14%;
    --sidebar-foreground: 199 38% 90%;
    --sidebar-primary: 192 70% 43%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 32 100% 49%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 200 95% 24%;
    --sidebar-ring: 192 70% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
